.ch_frame_buttons {
    flex-shrink: 0;
    height: 1em;
    width: 4.16em;
    display: flex;
}
.ch_frame_button {
    width: 1em;
    height: 1em;
    border: 0.08em solid;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
}
.ch_frame_button_space {
    width: 0.56em;
}
.ch_frame_button_left {
    border-color: #ce5347;
    background-color: #ed6b60;
}
.ch_frame_button_middle {
    border-color: #d6a243;
    background-color: #f5be4f;
}
.ch_frame_button_right {
    border-color: #58a942;
    background-color: #62c554;
}
