.swap {
    width: 10px;
    transform: rotate(90deg) scale(5);
    color: darkgrey;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 50%;
}
.swap.left {
    left: 0;
}

@media screen and (min-width: 768px) {
    .swap {
        display: none;
    }
}
