always-auth=true
@xabierlameiro:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
@xabierlameiro:registry=https://npm.pkg.github.com/xabierlameiro
registry=https://registry.npmjs.org