.option {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    outline: none;
}

.optionText {
    font-size: 11.5px;
    font-weight: normal;
    color: rgba(108, 108, 112, 1);
    text-align: center;
}

.horizontal {
    flex-direction: row;
    width: 100%;
    font-size: 20px;
    gap: 18px;
}

.horizontal img {
    width: 50px;
    height: 50px;
}

.horizontal .optionText {
    text-align: left;
    font-size: 13px;
}
