.lang_container {
    background-color: rgba(var(--blog-background));
    color: rgba(var(--blog-font));
    border-radius: 5px;
    width: inherit;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.lang_label {
    font-size: 13px;
    padding-bottom: 5px;
}

.lang_select {
    width: 200px;
    height: auto; /* Cambiar de 100% a auto para evitar problemas de altura */
    overflow: visible; /* Cambiar de auto a visible para asegurar que el contenido se muestre correctamente */
    font-size: 13px;
    outline: none;
    background-color: rgba(var(--blog-background));
    color: rgba(var(--blog-font));
}

.lang_select option {
    outline: none;
    padding: 10px;
}

.lang_select option:checked {
    background-color: rgba(var(--blue-color));
}
