.navTitle {
    font-size: 12px;
    font-weight: 100;
    text-indent: 3px;
    padding-bottom: 5px;
}
.postList {
    list-style: none;
    padding-bottom: 20px;
}

.postList li a {
    display: grid;
    grid-template-columns: auto 1fr 20px;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding: 5px;
    color: rgba(var(--color-font));
    text-decoration: none;
    font-weight: 400;
}

.postList li svg {
    font-size: 16px;
    color: rgba(var(--blue-color));
}

.selected .number,
.postList .selected svg {
    color: rgba(var(--white-color));
}

.selected {
    background-color: rgba(var(--blue-color));
    border-radius: 5px;
    color: rgba(var(--white-color));
}

li a.selected {
    color: rgba(var(--white-color));
}

.number {
    font-size: 12px;
    color: rgba(var(--color-font));
    text-align: right;
}
