.dock {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 15px;
    border-radius: 20px;
    position: fixed;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    max-height: 75px;
    z-index: 1;
}

.dock ul {
    padding: 0;
    display: flex;
    list-style: none;
    cursor: pointer;
}

.dock li {
    display: flex;
    align-items: center;
    position: relative;
}

.dock img {
    width: 60px;
    transition: all 0.2s ease;
}

@media (hover: hover) {
    .dock li:hover img {
        width: 100px;
        height: 100px;
        transform: translateY(-20px);
    }

    .dock li:hover + li img {
        width: 90px;
        height: 90px;
        transform: translateY(-18px);
    }
}

.selected::after {
    content: '.';
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20px);
    color: #fff;
}
