.input {
    user-select: none;
    width: 162px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid lightgrey;
    font-size: 13px;
    text-indent: 24px;
    background-size: 15px;
    background-position: 8px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg');
}

.input::placeholder {
    text-indent: 24px;
    font-size: 12px;
}
