.nav {
    display: flex;
    align-items: center;
}
.nav svg {
    width: 32px;
    height: 32px;
    fill: #000;
    cursor: pointer;
    transition: all 0.3s ease-in;
    fill-opacity: 0.3;
    stroke: none;
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.2;
}
