.views {
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 15px;
    user-select: none;
    gap: 8px;
    color: rgb(91, 87, 87);
}

.views svg {
    width: 19px;
}

svg.error {
    width: 16px;
    height: 16px;
    color: rgba(var(--red-color));
}

.spinner {
    animation: spin 1s linear infinite;
    width: 16px;
    height: 16px;
}

.all {
    font-size: 14px;
}

.users {
    display: flex;
    font-size: 14px;
    user-select: none;
    gap: 8px;
    color: rgb(91, 87, 87);
}

.users svg {
    width: 15px;
    fill: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
