.articleControls {
    border-bottom: 1px solid lightgrey;
    display: grid;
    padding: 0 20px;
    grid-template-columns: 1fr repeat(2, max-content) 1fr repeat(5, max-content) 220px;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width: 768px) {
    .articleControls {
        width: calc(100vw - 40px);
        grid-template-columns: 200px repeat(2, max-content) 1fr repeat(5, max-content) 220px;
        overflow: scroll;
        margin: 0 10px;
        padding: 0;
    }
    .articleControls::-webkit-scrollbar {
        display: none;
    }
}
.articleControls svg {
    color: gray;
    font-size: 21.5px;
    stroke-width: 0%;
}
.articleControls input {
    width: 100%;
}
.rotate {
    transform: rotate(-50deg);
}

.readTime {
    font-size: 13px;
    color: gray;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}
