.dialog {
    position: absolute;
    left: 0;
    top: 430px;
    width: 100vw;
    max-width: 100vw;
    height: calc(100vh - 62px);
    transform: scale(0);
    background: #fff;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s ease-in;
}

.dialog.open {
    top: 0;
    transform: scale(1);
}

.dialog.modal {
    width: 790px;
    height: 600px;
    border-radius: 10px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

@media screen and (max-width: 768px) {
    .dialog.modal {
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.dialog.modal.open {
    top: 45%;
    transform: translate(-50%, -50%) scale(1);
}

.content {
    height: inherit;
}

.header {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    grid-template-columns: 72px 88px 30px 1fr min-content;
    align-items: center;
    border-bottom: 1px solid rgba(108, 108, 112, 0.3);
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .header {
        grid-template-columns: 72px 78px 30px 1fr;
    }
}
.layoutIcon {
    width: 30px;
    height: 30px;
    transform: scale(1.3);
    fill-opacity: 0.3;
    cursor: pointer;
}

.title {
    font-size: 14.5px;
    color: rgba(108, 108, 112, 1);
    user-select: none;
    justify-self: flex-start;
    text-indent: 10px;
}

@media screen and (max-width: 768px) {
    .title {
        display: none;
    }
}
