.container,
.adsbygoogle {
    background-color: inherit;
    display: block;
}

.horizontal {
    visibility: hidden;
    height: 0 !important;
    overflow: hidden;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    .horizontal {
        visibility: visible;
        overflow: hidden;
    }
}
