.container {
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 10px 10px 1fr;
    }
    .container.openPosts {
        grid-template-columns: 10px 200px 1fr;
    }
    .container.openCategories {
        grid-template-columns: 200px 10px 1fr;
    }
}

.nav {
    background-color: rgba(var(--blog-nav));
    padding: 20px 12px;
    display: grid;
    grid-template-rows: 40px auto 1fr;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    max-height: calc(100vh - 50px);
    color: rgba(var(--blog-font-description));
}

@media screen and (max-width: 900px) {
    .nav {
        padding: 20px 0 20px 12px;
    }
}

.article {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.secondNav {
    position: relative;
    border-right: 1px solid rgba(var(--blog-border));
    display: grid;
    grid-template-rows: 50px 1fr;
    overflow: hidden;
}
.body {
    padding: 20px 30px 60px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.mdx {
    width: calc(100vw - 460px);
}

@media screen and (max-width: 900px) {
    .mdx {
        width: calc(100vw - 70px);
    }
}

.verticalAd {
    z-index: -1;
    width: 250px;
    height: 700px;
    position: fixed;
    right: 30px;
    display: grid;
}

@media screen and (min-width: 1400px) {
    .body {
        grid-template-columns: 1fr 250px;
    }
    .mdx {
        display: block;
        padding: 0 30px 0 0;
        width: calc(100vw - 710px);
    }
    .verticalAd {
        z-index: 1;
    }
}

@media screen and (max-width: 900px) {
    .body {
        padding: 0px 15px 60px 10px;
        width: calc(100vw - 15px);
    }
    .navListContainer {
        padding-right: 12px;
    }
}

.body blockquote {
    border-left: 5px solid rgba(var(--blue-color));
    padding: 10px;
    margin: 10px 0;
}

.body ul {
    margin-left: 10px;
    padding: 10px;
}

.body p {
    max-width: 1200px;
    padding: 10px 0;
}

.body h1 {
    text-align: center;
    padding: 20px 0;
}

.body h2 {
    padding: 20px 0;
}

.navAd {
    overflow: hidden;
    display: grid;
}
