#__next .ch-codeblock,
#__next .ch-codegroup {
    margin: 0;
    border-radius: 0;
    height: 100vh;
    min-height: 100vh;
}

#__next .ch-code-scroll-parent {
    font-size: 12.5px;
}


@media screen and (min-width: 767px) {
    #__next .ch-code-scroll-parent {
        font-size: 15px;
    }

    #__next .ch-codeblock,
    #__next .ch-codegroup {
        height: initial;
        min-height: initial;
    }
    #__next .ch-editor-frame {
        max-width: 800px;
        height: 500px;
        max-height: 500px;
        margin: 100px auto;
        border-radius: 6px;
    }
}
