#__next .ch-codeblock,
#__next .ch-codegroup {
    margin: 0;
    border-radius: 0;
    height: 100vh;
    min-height: 100vh;
}

#__next .ch-code-scroll-parent {
    font-size: 12.5px;
}

@media screen and (min-width: 767px) {
    #__next .ch-code-scroll-parent {
        font-size: 15px;
    }

    #__next .ch-codeblock,
    #__next .ch-codegroup {
        height: initial;
        min-height: initial;
    }
    #__next .ch-editor-frame {
        max-width: 800px;
        height: 500px;
        max-height: 500px;
        margin: 100px auto;
        border-radius: 6px;
    }
}

.ch-frame-buttons {
    margin: 0 0.8em;
    flex-shrink: 0;
    height: 1em;
    width: 4.16em;
    display: flex;
}
.ch-frame-button {
    width: 14px;
    height: 14px;
    border: 0.08em solid;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
}
.ch-frame-button-space {
    width: 0.56em;
}
.ch-frame-button-left {
    border-color: #ce5347;
    background-color: #ed6b60;
}
.ch-frame-button-middle {
    border-color: #d6a243;
    background-color: #f5be4f;
}
.ch-frame-button-right {
    border-color: #58a942;
    background-color: #62c554;
}
