:root {
    /* colors here light theme */
    --grey-color: 236, 232, 238;
    --dark-grey-color: 166, 166, 166;
    --red-color: 237, 106, 94;
    --yellow-color: 245, 190, 79;
    --green-color: 98, 199, 86;
    --yellow-color: 245, 190, 79;
    --disable-color: 217, 212, 222;
    --blue-color: 29, 88, 154;
    --white-color: 255, 255, 255;
    --color-terminal-header: 247, 240, 247;
    --color-terminal-font: 74, 72, 74;
    --color-font-header: 171, 167, 174;
    --color-font: 37, 36, 37;
    --color-available-arrow: 95, 91 98;
    --grey-light-background: 240, 236, 243;
    --grey-dark-background: 232, 229, 235;
    --grey-shadow: 210, 207, 213;

    /* fonts */
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-family);
    color: rgba(var(--color-font));
}

a {
    color: rgba(var(--blue-color));
    text-decoration: underline;
    font-weight: 600;
}

/* storybook */
.sb-main-centered.sb-show-main {
    background-image: url('/background-image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* code hike resets */
.comments code > .ch-code-scroll-content > div,
.home code > .ch-code-scroll-content > div {
    transform: initial !important;
}

.ch-code-scroll-parent {
    padding-right: 20px !important;
}

#__next .ch-codeblock,
#__next .ch-codegroup {
    margin: 0;
}

#__next .ch-code-scroll-parent {
    font-size: 12px;
}

.emoji {
    font-size: 2em;
}

div.ch-frame-title-bar > div > div {
    color: rgb(172, 175, 180);
}

div.ch-frame-title-bar .ch-editor-tab-active > div {
    color: rgb(220, 220, 220);
}

div.dialog_dialog__mcyQq.dialog_open___BRYL div.ch-code-multiline-mark {
    background-color: rgba(255, 255, 255, 0.01) !important;
}
