.content {
    height: inherit;
    padding: 18px 24px 54px;
    border-bottom: 1px solid rgba(108, 108, 112, 0.3);
}
.confg {
    padding: 18px 24px 99px;
    border-bottom: 1px solid rgba(108, 108, 112, 0.3);
}

.header {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    grid-template-columns: 72px 88px 1fr min-content;
    align-items: center;
    border-bottom: 1px solid rgba(108, 108, 112, 0.3);
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .header {
        grid-template-columns: 72px 78px 30px 1fr;
    }
}
